
      html,
  
      
      table.view {
        width: 100%;
      }

      table td {
        vertical-align: top;
        
      }

      table table {
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
      }


      table table td {
        vertical-align: middle;
      }

      input[type="text"],
      pre {
        border: 1px solid lightgray;
      }

      pre {
        margin: 0;
        padding: 5px;
        font-size: 10pt;
      }

      #mynetwork {
        margin: 2.5%;
        width: 95%;
        height: 59%;
        border: 1px solid lightgray;
      }
/* ------------ */
.modal-title{
    color: black;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #1b1327;
    background-color: white;
}
/*Landing page*/
.landing{
    height: 100vh;
    background-color: white;
}
.home-inner{
    background-image: url('mountain.jpg');
    opacity: .9;
    position: fixed;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: 2rem 1rem;
}
/*Landing Page Caption*/
.caption{
   width: 100%;
   max-width: 100%;
   position: absolute;
   top:15%;
   z-index: 1;
}
.grafo{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 36%;
    z-index: 1;
 }
.caption h1{
    font-size: 6.5rem;
    letter-spacing: 0.3rem;
    text-shadow: .2rem .2rem .1rem white;
    padding-bottom: 1.2rem;
}
.caption h3{
    font-size: 4rem;
    letter-spacing: 1rem;
    text-shadow: .2rem .2rem .1rem white;
    padding-bottom: 2.5rem;
}
/*Dark Mode Switch*/
.slider{
    background-color: #6e6e6e;
    box-shadow: .1rem .1rem .8rem black;
}
.slider::before{
    background-color: white;
    transition: .5s;
}
input:checked + .slider{
    background-color: #1849ab;
}
/*MEDIA QUERIES*/
/*Devices under 768px(md)*/
@media (max-width: 767.98px){
    .caption h1{
        font-size: 3.7rem;
        letter-spacing: 0.15rem;
        padding-bottom: 0.5rem;
    }
    .caption h3{
        font-size: 2.7rem;
        letter-spacing: .2rem;
        padding-bottom: 1.2rem;
    }
}

/*Fixed Landing Page Section*/
.landing{
    position: relative;
    width: 100%;
    display: table;
    z-index: -1;
}
.home-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner{
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}

/*Dark Mode Switch*/
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
}
input:focus + .slider{
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
    outline: none;
}
input:checked + .slider:before{
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}

  /*----------------*/

  #hmire{
    color:darkslateblue;
    font-weight: bolder;
    font-size: 25px;
}
#cmire{
    text-align: left;
    color: #000;
    text-transform:initial;
    margin: 100px;
    background-color: transparent 80%;
}
.img2{
    align-self: center;
    margin-bottom: 25px;
}
.font-weight-light{
  color: black;
}